@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css");
@font-face {
font-family: "Regular";
src: url("font/XanhMono-Regular.ttf");
}


/*Custom default button*/
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #000;
  font-size: 0.9em;
}

.btn-secondary:hover{
	color: #9aaee2;
}

#toggle{
	margin-right: 1em;
}

/*Base structure*/

body {
	text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
	box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
}

p, h1, h2, .md-start, .nav-link, .md-start1, li{
  font-family: "Regular";
}

#ont{
	text-align: justify;
	margin-left: 22em;
}

#lead1{
	font-size: 1.5em;
}

.cover-container {
	background-image: url("images/lovelace1.png");
	background-repeat: no-repeat;
	background-size: cover;
}

.px-3{
	padding-top: 14.5rem;
	margin-right: 1.3em;
}

a, #aa, .btn-sm{
  outline: none;
  text-decoration: none;
  color: white;
}

#aa{
	color: #745ebb;
}

a:hover, #aa:hover, .btn-sm:hover{
	color: #9aaee2;
}

.blog-header {
  border-bottom: 1px solid #e5e5e5;
}

.display-4 {
  font-size: 2.5rem;
  padding-top: 1em;
}

@media (min-width: 768px) {
  .display-4 {
    font-size: 3rem;
  }
}

.container{
	padding-top: 5em
}

/*header*/

.navbar {
	font-size: 1.1em;
	background-color: #5369a4;
}

.nav-masthead .nav-link {
	border-bottom: 0.25rem solid;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
	border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-link {
	margin-left: 4rem;
}

.nav-masthead .active {
	color: #000;
	border-bottom-color: #000;
}

.dropdown-menu{
	font-family: "Regular";
	background-color: #9aaee2;
}

/*body*/

.md-start {
	color: #000;
	margin-left: 2em;
	margin-bottom: -1.5em;
	padding: 0.25em;
	padding-left: 3em;
}

.md-start1 {
	color: #fff;
}

h3{
	margin-top: -0.50em;
}

#items{
	margin-top: 2em;
}

#see{
	margin-top: 3em;
}

/*card*/
      
.container-fluid{
	padding-top: 5em;
}

#start, #end{
	padding-top: 8em;
}

#item{
	margin-bottom: 2em;
}

.card-img-top{
	width: 100%;
    height: 20em;
    object-fit: cover;
}

.only {
	margin-top: 1em;
	margin-bottom:5em;
	border-radius: 4px;
	background: #000;
  	overflow: hidden;
  	box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.50);
  	border-radius: 5px;
  	-webkit-transition:all .9s ease; 
  	-moz-transition:all .9s ease; 
  	-o-transition:all .9s ease;
  	-ms-transition:all .9s ease; 
}

.only:hover {
	opacity: 0.7;
  	-webkit-transform:scale(1.15);
  	-moz-transform:scale(1.15);
  	-ms-transform:scale(1.15);
  	-o-transform:scale(1.15);
  	transform:scale(1.15);
}

.card-title{
	margin-top: 1em;
	margin-bottom: 1em;
	font-family: "Regular";
	font-weight: bold;
	font-size: 1.4em;
}

.card-text{
	padding: 1em;
}

#text{
	font-size: 1.3em;
}

#texta{
	margin-top: 2em;
	font-size: 1.7em;
}

b {
	font-size: 1.4em;
}

/*gif*/

#study{
	width: 15em;
	height: auto;
}

#search, #puzzle{
	margin-bottom: 2em;
	width: 12em;
	height: auto;
}

/*maps*/

#er, #meta{
	margin-top: 2em;
}

/*model*/

.main_container div {
    display: inline-block;
}

.thumbnail {
    height: 30em;
    max-width: 100%;
}

div.zoom_container {
    width: 200px;
    height: 300px;
    overflow: hidden;
}

.zoom_container.hidden {
    display: none;    
}

/*table*/

.table{
	background-color: #C0CDEE;
	color: #5369a4;
	width: 40em;
	margin-top: 1em;
	font-family: "Regular";
   	overflow-x: auto !important;
   	width: 100% !important;
}

thead{
	background-color: #5369a4;
	color: #000;
}

#data{
	font-size: 1.2em;
	color: #745ebb;
}

#data:hover{
	color: #000;
}

#note{
	text-align: left;
	margin-left: 1.5em;
	margin-right: 1.5em;
	margin-top: 2em;
}

#who-tab, #where-tab, #when-tab, #what-tab{
	color: #9aaee2;
  	font-size: 2em;
  	margin-left: 4.2em;
}

#who-tab:hover, #where-tab:hover, #when-tab:hover, #what-tab:hover{
	color: #000;
}

.tables{
	font-size: 1.2em;
}

#ada-tab, #adaportrait-tab, #picada-tab, #calclet-tab, #adalogo-tab, #adalett-tab, #art-tab, #conce-tab, #spy-tab, #potr-tab, #book-tab{
	color: #9aaee2;	
	margin-bottom: 1em;
	font-size: 1.3em;
}

#ada-tab:hover, #adaportrait-tab:hover, #picada-tab:hover, #calclet-tab:hover, #adalogo-tab:hover, #adalett-tab:hover, #art-tab:hover, 
#conce-tab:hover, #spy-tab:hover, #potr-tab:hover, #book-tab:hover{
	color: #000;	
}
